<p-dialog
    header="Actualizar Cliente"
    [modal]="true"
    [(visible)]="visible"
    position="bottom"
    (onHide)="setHidden()"
    [style]="{ width: '25rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="name" class="font-semibold w-6rem">
            Nombre
        </label>
        <input pInputText id="name" class="flex-auto"
            [(ngModel)]="client.name"
            autocomplete="name" />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="lastName" class="font-semibold w-6rem">
            Apellido
        </label>
        <input pInputText id="lastName" class="flex-auto"
            [(ngModel)]="client.lastName"
            autocomplete="name" />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="phone" class="font-semibold w-6rem">
            Telefono
        </label>
        <p-inputMask inputId="phone" [(ngModel)]="client.phone"
            mask="9999999999" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary"
            (click)="setHidden()" />
        <p-button label="Save" (click)="editClient()" />
    </div>
</p-dialog>
