<p-dialog
    [header]="material.id == 0 ? 'Nuevo Material':'Actualizar Material'"
    [modal]="true"
    [(visible)]="visible"
    position="bottom"
    (onHide)="setHidden()"
    [style]="{ width: '25rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="name" class="font-semibold w-6rem">
            Nombre
        </label>
        <input pInputText id="name" class="flex-auto"
            [(ngModel)]="material.name"
            autocomplete="name" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="name" class="font-semibold w-6rem">
            Unidad
        </label>
        <p-dropdown id="unit" appendTo="body" class="flex-auto"
            [(ngModel)]="material.unit" [options]="units" optionLabel="name"
            placeholder="Selecciona una unidad" variant="filled" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary"
            (click)="setHidden()" />
        <p-button label="Guardar" (click)="editMaterial()" />
    </div>
</p-dialog>
