<app-header (action)="addStatus()" title="Estados" />
<div class="grid mt-2">
    <ng-container *ngFor="let status of states">
        <p-card [header]="status.name" class="col-12 md:col-4 xl:col-3">
            <ng-template pTemplate="footer">
                <div class="grid">
                    <p-button label="Editar"
                        class="col-5 md:col-12 xl:col-5"
                        (onClick)="showForm(status)"
                        styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </ng-container>
    <app-modal [state]="state" [visible]="visible"
        (editStatus)="editStatus($event)"
        (visibleEvent)="setVisible($event)"></app-modal>
    <p-toast position="top-right" />
</div>